<div class="container card text-black bg-light">
  <div class="card-body" >
  <h3>About Us</h3>
  <p class="pt-4">
    Before it went viral is bringing back the golden age of mobile app development. For too long awesome apps have been added to the never ending list of mobile apps
    on different app store's to be hidden from view. Peoples achievements have gone unnoticed, fame and fortune from making an app was almost impossible. It is as if
    hope had abandoned the app developers. Then one day a shining beacon of hope split the darkness of despair, for on this day BeforeItWentViral was born. To help app
    user's and app developers alike, once more new shiny apps could be found, competitions held for app codes. A place where early adopters could bath in new games and gadget apps.
  </p>
  <p>
    This is our mission, to make apps great again. To plug apps to people who want them. To see new apps go from 10, 100, 1000 downloads. To help get those apps into the hands of people
    around the world. To run quick surveys and find out what app user's want. We strive for the success of others.
  </p>
  </div>
</div>
